* text=auto
*.md text eol=lf
*.ps1 text eol=crlf
*.json text eol=lf
*.zip binary
*.docx binary
*.exe binary
*.dll binary
*.dat binary
*.lod binary
*.pcx binary
*.png binary
*.def binary
baselines/Patch_v1.8/** -text -diff
